@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-2">
        <p>  </p>
    </div>
    <div class="col-md-4">
        <img src="/Theme/img/ceyrek.png" class="img-fluid rounded">
    </div>
    <div class="col-md-4">
        <div class="row mt-2">
            <div class="col-md-12">
                <h1>Çeyrek Altın Yeni Tarihli</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <span id="ın-stock" class="badge bagde-primary">In Stock</span>
                <span class="product-number">#234325</span>
            </div>
            <div class="col-md-12">
                <div id="description">
                    Yeni Tarihli Çeyrek Altın Fiyatlarımıza KDV Dahildir. Ücretsiz Kargo.
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <span class="badge bagde-success">53</span>
            </div>
            <div id="write-review" class="col-md-4">
                <a href="#">
                    Yorum Yap
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h4 id="product-price">1800 TL</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Sepete Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3" padding="30px">
    <div class="col-md-2">
        <p>  </p>
    </div>
    <div class="col-md-8">
        <div class="bd-example bd-example-tabs">
            <ul class="nav nav-tabs mb-3" id="pills-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-description"
                       role="tab" aria-controls="pills-home" aria-expanded="true">Ürün Açıklama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-payment"
                       role="tab" aria-controls="pills-payment" aria-expanded="true">Kargo ve Ödeme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-comment-tab" data-toggle="pill" href="#pills-comment"
                       role="tab" aria-controls="pills-comment" aria-expanded="true">Yorumlar(0)</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <p>
                        Asadsgfdhfjkg fdsghjfdg fdsfdghjfhgsfa sdffgdhfgffdg sgdhf
                        afsdgfdhfjasdfghf
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                    <p>
                        Bsadsgfdhfjkg fdsghjfdg fdsfdghjfhgsfa sdffgdhfgffdg sgdhf
                        afsdgfdhfjasdfghf
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                    <p>
                        Bu ürüne yapılmış yorum yok...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
