@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-12 md-3 mt-3">
        <img src="~/img/home.png" height="350" />
    </div>


<div class=" col-md-12 mt-3 ">
    <div class="col-md-5">
        <p> </p>
    </div>
    <div class="col-md-2 m-5">
        <a class="btn btn-primary btn-lg " href="~/Home/List" role="button">Daha Fazla Ürün</a>
    </div>
    
</div>


<div class="container pb-5">
    <div class="card-deck" style="padding: 25px;">
          <div class="card">
              <a href="~/Home/Yuzuk">
                <img src="~/img/yüzük.png" class="card-img-top" alt="" width="150" height="300"/>                  
              </a>                
            <div class="card-body">
              <h5 class="card-title">Zirkon Taş Detaylı Yüzük 2.8 Gr</h5>
              <p class="card-text">Satış Fiyatı: 4659.75 TL</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Sepete Ekle</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Ücretsiz Kargo</small> 
            </div>
          </div>
          <div class="card">
              <a href="~/Home/Bilezik">
                  <img src="~/img/bilezik.jpg" class="card-img-top" alt="..." width="150" height="300"/>
              </a>
            
            <div class="card-body">
              <h5 class="card-title">12 Gr Şarnelli Ahlatcı Bilezik</h5>
              <p class="card-text">Satış Fiyatı: 21255.08 TL</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Sepete Ekle</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Ücretsiz Kargo</small>
            </div>
          </div>
          <div class="card">
              <a href="~/Home/Kolye">
                  <img src="~/img/kolye.png" class="card-img-top" alt="..." width="150" height="300"/>
              </a>
            
            <div class="card-body">
              <h5 class="card-title">Yıldız Kolye 2.14 Gr</h5>
              <p class="card-text">Satış Fiyatı: 3525.83 TL</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Sepete Ekle</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Ücretsiz Kargo</small>
            </div>
          </div
        </div> 
</div>