@{
    ViewBag.Title = "Yuzuk";
}

<div class="row mt-5" >
    <div class="col-md-2">
        <p>  </p>
    </div>
    <div class="col-md-4">
        <img src="~/img/yüzük.png" class=" img-fluid rounded" alt="" width="350" height="350" />
    </div>
    <div class="col-md-4">
        <div class="row mt-2">
            <div class="col-md-12">
                <h1>Zirkon Taş Detaylı Yüzük 2.8 Gr</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <span id="ın-stock" class="badge bagde-primary">In Stock</span>
                <span class="product-number">#234325</span>
            </div>
            <div class="col-md-12">
                <div id="description">
                    Zirkon Taş Detaylı Yüzük 2.8 Gr Fiyatlarımıza KDV Dahildir. <br>
                    Ücretsiz Kargo.
                </div>
            </div>
        </div>
        <div class="row mt-3">  
            
            <div class="col-md-1">
               
            </div>
            <div id="write-review" class="col-md-4">
                <a href="#">
                    Yorum Yap
                </a>
            </div>
            
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h4 id="product-price">4659.75 TL</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Sepete Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="row mt-5 col-md-12" padding="100px">
    <div class="col-md-2">
        <p>  </p>
    </div>
    <div class="col-md-8">
        <div class="bd-example bd-example-tabs">
            <ul class="nav nav-tabs mb-3" id="pills-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-description"
                       role="tab" aria-controls="pills-home" aria-expanded="true">Ürün Açıklama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-payment"
                       role="tab" aria-controls="pills-payment" aria-expanded="true">Kargo ve Ödeme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-comment-tab" data-toggle="pill" href="#pills-comment"
                       role="tab" aria-controls="pills-comment" aria-expanded="true">Yorumlar(0)</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <p>
                        <h6> Zirkon Taş Detaylı Yüzük– 2,8 Gr   </h6>
                        <p>Hem şık bir stil hem de şans sizden yana olacak. Bu Yüzük  Size Çok Yakışacak!  14 Ayar Yüzük taksit seçenekleri ve ücretsiz kargo ile Ahlatcı farkıyla sizin olabilir. </p>
                        <h6> Altın Özellikleri: </h6>
                        <p>Ayar: 14 Ayar
                        </p>
                   </p>
                </div>
                <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                    <p>
                        <p>Türkiye'nin her yerine ücretsiz gönderim.</p>
                        <p>Fiyatlarımız altın kuruna göre web sitemiz üzerinde anlık olarak güncellenmektedir. Fiyat politikamız gereğince külçe ve ziynet altın ürünlerinde indirim uygulanmamaktadır. BDDK kanunu uyarınca Külçe ve Ziynet Altın kategorilerine taksit uygulanamaz. 8 taksit imkanı 14 ayar ve 22 ayar altın takılarda, pırlanta ve elmas takılarda ve saat markaları için geçerlidir.</p>
                        <p>Havale ile yapılan ödemelerde Havale Bildirim Formu doldurulduktan sonra havalenin hesaba yansıması için fiyatlar 2 saat boyunca sabit tutulacaktır. Bu 2 saat boyunca ödemesi yapılmamış siparişler işleme alınmayacaktır.</p>
                        <p>Ziynet, külçe ve sarrafiye altın ürün çeşitlerinde taksit yapılamamaktadır.</p>                        
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                    <p>
                        Bu ürüne yapılmış yorum yok...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
